@import "bootstrap-reboot.min.css";
@import "bootstrap-grid.min.css";
@import "bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/*--VAR-*/
$font-main: 'Open Sans', sans-serif;


body {
  background-color: chartreuse;
}

header {
  background-color: white;
  padding: 0 15px;
  width: 100%;
}

.navbar {
  padding: 0 15px;
}

.navbar-nav {
  .nav-item {
    .nav-link {
      margin-left: 15px;
      color: #484c55;
      font-family: $font-main;
      font-size: 16px;
      padding: 44px 20px;
      border-bottom: 3px transparent solid;

      &:hover, .active, {
        color: #49cbcd;
        background-color: #f8f9fb;
        border-bottom: 3px #49cbcd solid;

      }

    }
  }
}
