@import "bootstrap-reboot.min.css";
@import "bootstrap-grid.min.css";
@import "bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,400&display=swap');
@import "owl.carousel.min.css";
@import "owl.theme.default.min.css";

/** {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}*/

/*--VAR-*/
$font-main: 'Open Sans', sans-serif;

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

/*------------------------------------*/
header {
  background-color: white;
  padding: 0 15px;
  width: 100%;
}

.navbar {
  padding: 0 15px;
}

.navbar-nav {
  .nav-item {
    .nav-link {
      margin-left: 15px;
      color: #484c55;
      font-family: $font-main;
      font-size: 16px;
      padding: 44px 20px;
      border-bottom: 3px transparent solid;

      &:hover, .active, {
        color: #49cbcd;
        background-color: #f8f9fb;
        border-bottom: 3px #49cbcd solid;
      }
    }

    @include max-screen(992px) {
      .nav-link {
        padding: 15px 15px;
      }
    }
  }
}

/*------------------------------------*/
.main {
  background-image: url('../images/bg_main_02.png');
  background-size: cover;
  padding: 144px 15px;

  h1 {
    font-size: 48px;
    color: #ffffff;
    font-family: $font-main;
    margin-bottom: 44px;
  }

  p {
    font-size: 16px;
    color: #ffffff;
    font-family: $font-main;
    margin: 0 auto 62px;
    width: 30%;

  }

  a {
    display: inline-block;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    font-family: $font-main;
    padding: 20px 44px;
    border: solid 3px #ffffff;
    border-radius: 7px;
    text-decoration: none;
    letter-spacing: 3px;

    &:hover {
      color: #49cbcd;
      border: solid 3px #ffffff;
      background-color: #ffffff;
    }
  }

  .owl-nav {
    .owl-prev {
      position: absolute;
      left: 20px;
      top: 15%;
      width: 40px;
      height: 40px;
      outline: none;
      background-color: #ffffff !important;
      border-radius: 50%;

      &:after {
        display: block;
        content: "\f053";
        font-size: 24px;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        color: #49cbcd;
        padding-right: 3px;
      }

    }

    .owl-next {
      position: absolute;
      right: 20px;
      top: 15%;
      width: 40px;
      height: 40px;
      outline: none;
      background-color: #ffffff !important;
      border-radius: 50%;

      &:after {
        display: block;
        content: "\f054";
        font-size: 24px;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        color: #49cbcd;
        padding-left: 3px;
        margin-bottom: 142px;
      }

    }
  }
}

/*------------------------------------*/
.team {
  padding: 110px 15px 0;

  h2 {
    color: #4e525d;
    font-size: 42px;
    font-family: $font-main;
    margin-bottom: 110px;
  }

  .person {
    position: relative;
    height: 200px;
    width: 200px;
    margin: 0 auto 74px;
    z-index: 2;

    svg {
      height: 100%;
      width: 100%;
      border-radius: 50%;
      fill: #eeeef0;
    }

    .overlap {
      width: 42px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -21px;
      margin-top: -21px;
      visibility: hidden;
      z-index: 1;

      img {
        display: block;
        width: 100%;
      }
    }

    &:hover {
      .overlap {
        visibility: visible;
      }
    }
  }

  h3 {
    color: #4e525d;
    font-size: 22px;
    font-family: $font-main;
    margin-bottom: 16px;
  }

  p {
    color: #4e525d;
    font-size: 14px;
    font-family: $font-main;
    margin-bottom: 34px;

    &:nth-of-type(2) {
      margin-bottom: 110px;
    }
  }
}

/*------------------------------------*/
.price {
  background-color: #f1f1f1;
  padding: 120px 15px 105px;


  .card-deck {
    display: flex;
    flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;


    .card {
      padding-bottom: 0;
      border: none;
      min-width: 220px;


      .card-header {
        background-color: #485460;
        padding: 24px 15px;


        h4 {
          color: #ffffff;
          font-family: $font-main;
          font-size: 24px;
          margin-bottom: 0;
        }


      }

      .card-body {
        padding: 0;

        h5 {
          background-color: #ecf0f1;
          color: #4e525d;
          font-family: $font-main;
          font-size: 20px;
          border-bottom: solid 1px #ecf0f1;
          padding: 26px 0 24px;

        }

        ul {
          padding-left: 0;
          margin-bottom: 0;

          .card-item {
            padding: 14px 15px 12px;
            font-size: 14px;
            color: #8c9299;
            font-family: $font-main;
            border-bottom: solid 1px #ecf0f1;
            list-style: none;
          }
        }
      }

      .card-footer {
        background-color: #f8f9fb;
        padding: 28px 15px;

        a {
          display: inline-block;
          background-color: #788492;
          padding: 10px 56px;
          text-decoration: none;
          color: #FFFFFF;
          font-size: 16px;
          font-family: $font-main;
          font-weight: 600;
          border-radius: 3px;
        }
      }

      &:hover {
        .card-header {
          background-color: #49cbcd;
        }

        .card-footer {
          a {
            background-color: #49cbcd;
          }
        }
      }
    }

    @include max-screen(576px) {
      .card {
        -ms-flex: 1 0 0%;
        flex: 1 0 0%;
        margin-right: 15px;
        margin-bottom: 0;
        margin-left: 15px;
      }
    }
  }
}

/*------------------------------------*/
.contact {
  background-image: url('../images/bg_contact_02.jpg');
  background-size: cover;
  padding: 100px 15px;

  h2 {
    color: #FFFFFF;
    font-size: 42px;
    font-family: $font-main;
    margin-bottom: 110px;
  }

  .contact-soc {
    h4 {
      color: #ffffff;
      font-family: $font-main;
      font-size: 24px;
      margin-bottom: 16px;
    }

    p {
      font-size: 14px;
      color: #bface2;

      font-family: $font-main;
      margin-bottom: 14px;

      &:first-of-type {
        margin-bottom: 44px;
        color: #a7a7a7;
      }
    }

    a {
      display: inline-block;
      text-decoration: none;
      height: 42px;
      width: 42px;
      background-color: #3b5997;
      border-radius: 50%;
      margin-right: 12px;
      margin-bottom: 24px;

      &:before {
        display: block;
        content: "\f39e";
        font-weight: 400;
        font-family: "Font Awesome 5 Brands";
        color: #FFFFFF;
        font-size: 24px;
        padding-left: 13px;
        padding-top: 2px;
      }

      &:nth-of-type(2) {
        background-color: #3ec2f3;

        &:before {
          content: "\f099";
          padding-left: 10px;
        }
      }

      &:nth-of-type(3) {
        background-color: #e44c41;

        &:before {
          content: "\f0d5";
          padding-left: 7px;
        }
      }
    }

  }

  .forms {
    input {
      height: 44px;
      border-radius: 2px;
      border: none;
      max-width: 100%;
      margin-bottom: 32px;
      @include max-screen(992px) {
        max-width: 100%;
      }

      &:focus {
        border: 1px solid #49cbcd;
        -webkit-box-shadow: 0 0 5px 1px #49cbcd;
        box-shadow: 0 0 5px 1px #49cbcd;
      }

    }


    textarea {
      max-width: 100%;
      height: 180px;
      resize: none;
      border-radius: 2px;
      border: none;
      margin-right: 15px;
      margin-left: 15px;
      margin-bottom: 30px;
      outline: none;

      &:focus {
        border: 1px solid #49cbcd;
        -webkit-box-shadow: 0 0 5px 1px #49cbcd;
        box-shadow: 0 0 5px 1px #49cbcd;
      }
    }

    button {
      padding: 10px 66px 12px;
      background-color: #49cbcd;
      color: #FFFFFF;
      font-size: 18px;
      font-family: $font-main;
      border: solid 1px #49cbcd;
      border-radius: 2px;
      margin-left: 15px;
      margin-right: 15px;
      outline: none;
      @include max-screen(767px) {
        width: 100%;
      }

      &:hover {
        background-color: #ffffff;
        color: #49cbcd;
        border: 1px solid #49cbcd;
        -webkit-box-shadow: 0 0 5px 1px #49cbcd;
        box-shadow: 0 0 5px 1px #49cbcd;

      }
    }
  }
}