@import "bootstrap-reboot.min.css";
@import "bootstrap-grid.min.css";
@import "bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import "owl.carousel.min.css";
@import "owl.theme.default.min.css";

/*--VAR-*/
$font-main: 'Open Sans', sans-serif;

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

/*------------------------------------*/
header {
  background-color: white;
  padding: 0 15px;
  width: 100%;
}

.navbar {
  padding: 0 15px;
}

.navbar-nav {
  .nav-item {
    .nav-link {
      margin-left: 15px;
      color: #484c55;
      font-family: $font-main;
      font-size: 16px;
      padding: 44px 20px;
      border-bottom: 3px transparent solid;

      &:hover, .active, {
        color: #49cbcd;
        background-color: #f8f9fb;
        border-bottom: 3px #49cbcd solid;
      }
    }
    @include max-screen(992px) {
      .nav-link {
        padding: 15px 15px;
      }
    }
  }
}

/*------------------------------------*/
.main {
  background-image: url('../images/bg_main_02.png');
  background-size: cover;
  padding: 144px 15px;

  h1 {
    font-size: 48px;
    color: #ffffff;
    font-family: $font-main;
    margin-bottom: 44px;
  }

  p {
    font-size: 16px;
    color: #ffffff;
    font-family: $font-main;
    margin-bottom: 62px;
  }

  a {
    display: inline-block;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    font-family: $font-main;
    padding: 20px 44px;
    border: solid 3px #ffffff;
    border-radius: 7px;
    text-decoration: none;
    letter-spacing: 3px;

    &:hover {
      color: #49cbcd;
      border: solid 3px #ffffff;
      background-color: #ffffff;
    }
  }

  .owl-nav {
    .owl-prev {
      position: absolute;
      left: 20px;
      top: 15%;
      width: 40px;
      height: 40px;
      outline: none;
      background-color: #ffffff !important;
      border-radius: 50%;

      &:after {
        display: block;
        content: "\f053";
        font-size: 24px;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        color: #49cbcd;
        padding-right: 3px;
      }

    }
    .owl-next {
      position: absolute;
      right: 20px;
      top: 15%;
      width: 40px;
      height: 40px;
      outline: none;
      background-color: #ffffff !important;
      border-radius: 50%;

      &:after {
        display: block;
        content: "\f054";
        font-size: 24px;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        color: #49cbcd;
        padding-left: 3px;
      }

    }
  }
}